<launch>
  <param name="/use_sim_time" value="true" />

  <!-- Play back the example ROS bag -->
  <node pkg="rosbag" type="play" name="player" args="--clock -s 0.0 -u 100.0 -r 1.0 $(find rerun_bridge)/spot_ros1/spot_ros1.bag">
  </node>

  <!-- Run the Rerun bridge node -->
  <node name="rerun_bridge_node" pkg="rerun_bridge" type="visualizer" output="screen">
    <rosparam param="yaml_path" subst_value="True">$(find rerun_bridge)/launch/spot_example_params.yaml</rosparam>
  </node>
</launch>
